	<div class="col-sm-6 col-xs-12">
	<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= @site.name %> (Current)</h3>
      </div>
      <div class="panel-body">
      	<table class="table">
      	<tbody>
      		<tr>
      		<td><h4>IP Address:</h4></td>
      		<td><h4><%= @site.ipaddress %></h4></td>
      		</tr>
      		<tr>
      		<td><h4>Latitude:</h4></td>
      		<td><h4><% if @site.latitude > 0 %><%= @site.latitude%>°N <% elsif @site.latitude < 0 %> <%=@site.latitude.abs%>°S <% else %> <%=@site.latitude%>° <% end %></h4></td>
      		</tr>
      		<tr>
      		<td><h4>Longitude:</h4></td>
      		<td><h4><% if @site.longitude < 0 %><%= @site.longitude.abs%>°W <% elsif @site.longitude> 0 %> <%=@site.longitude%>°E <% else %> <%=@site.longitude%>° <% end %></h4></td>
      		</tr>
      		<tr>
      		<td><h4>Details:</h4></td>
      		<td><p><%= @site.description %></p></td>
      		</tr>
      		<tr>
      		<td><h4>Callout Email:</h4></td>
      		<td><h4><%= @site.callout %></h4></td>
      		</tr>
      	</tbody>
      	</table>
      </div>
    </div>
    </div>
    	<div class="col-sm-6 col-xs-12">
	<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> Update Site </h3>
      </div>
      <div class="panel-body">
      <i>*Blank fields will remain unchanged</i>
                <%= form_for(@site, url: user_site_path, method: :put) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <%= f.label :name,  'Site Name' %>
                <%= f.text_field :name, class: 'form-control', :required => true %>
                </br>
                <%= f.label :ipaddress, 'IP Address' %>
                <%= f.text_field :ipaddress, class: 'form-control', :required => true, placeholder: 'IPv4 or IPv6 format' %>
                </br>
                <div id="siteLoc">
                <%= f.label :latitude, 'Latitude' %>
                <%= f.number_field :latitude, class: 'form-control', :step => :any %>
                </br>
                <%= f.label :longitude, 'Longitude' %>
                <%= f.number_field :longitude, class: 'form-control', :step => :any %>
                </br>
                </div>
                <%= f.label :description, 'Description' %>
                <%= f.text_area :description, class: 'form-control', :required => true, :placeholder => 'Limit of 255 characters', :maxlength => 255 %>
                </br>
                <%= f.label :callout, 'Callout Email' %>
                <%= f.text_field :callout, class: 'form-control', :required => true %>
                </br>
                  <%= f.label :autoLocate, 'Auto Locate?'%>
                  <i>*Lat. and Lon. fields will be overwritten if selected. Location may not be accurate</i>
                <%= f.check_box :autoLocate, class: 'checkbox', :id =>"autoLocateCb" %>
                <hr>
                <span class='input-group-btn'>
                <%= f.submit "Update", class: "btn btn-primary" %>
                <% end %>
                <div style="display: inline-block; margin-left: 10px;">
                  <%= button_to "Delete", user_site_path, method: :delete,  class: "btn btn-danger" %>
                </div>
                </span>
      </div>
    </div>
    </div>