
<div class="col-xs-12" style="margin-bottom: 20px;">
	<%= link_to 'New Site', new_user_site_path(current_user), class: 'btn btn-primary' %>
</div>
<div class="col-xs-12">
  <div class="table">
    
    <div class="tablerow header blue">
      <div class="cell">
        Server Name
      </div>
      <div class="cell">
        Address
      </div>
      <div class="cell">
        Status
      </div>
      <div class="cell">
        Last Checked
      </div>
      <div class="cell">
        Callout Email
      </div>
    </div>
    <% @sites.each do |s| %>
    <div class="tablerow">
    	<div class="cell">
    	<%=s.name%>
    	</div>
    	<div class="cell">
    	<a href='http://<%=s.ipaddress%>' target='_blank'><%=s.ipaddress%></a>
    	</div>
    	<div class="cell">
    	<% if !s.status.nil? %>
    	<%=s.status%>
    	<% else %>
    	Unknown
    	<% end %>
    	</div>
    	<div class="cell">
    	<% if !s.lastchecked.nil? %>
    	<%=s.lastchecked%>
    	<% else %>
    	Never
    	<% end %>
    	</div>
    	<div class="cell">
    	<%=s.callout%>
    	</div>
    </div>
    <% end %>
    
  </div>
</div>