
<div class="col-xs-12" style="margin-bottom: 20px;">
	<%= link_to 'New Site', new_user_site_path(current_user), class: 'btn btn-primary' %>
</div>


<div class="col-xs-12">
  <table id="fullSiteTable" class="table-no-bordered">
    <thead class="thead-inverse">
    </thead>
    <tbody>
      <% if @sites.empty? %>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <%else%>
      <script>
        hash = [];
        <% @sites.each do |s|%>
          hash.push({
            name:"<%=s.name%>",
            ipaddress:"<a href='http://<%=s.ipaddress%>' target='_blank'><%=s.ipaddress%></a>",
            status:"<% if !s.status.nil? %><% if s.status == true %>Online<% else %>Offline<% end %><% else %>Unknown<% end %>",
            lastchecked: "<% if !s.lastchecked.nil? %><%=s.lastchecked%><% else %>Never<% end %>",
            callout: "<%=s.callout %>",
            view:'<%= link_to 'Edit', edit_user_site_path(current_user, s.id) %>'
          });
        <% end %>
        $('#fullSiteTable').bootstrapTable({
            classes: "table table-hover",
            columns: [{
                field: 'name',
                title: 'Server',
                sortable: true
              },{
                field: 'ipaddress',
                title: 'Address'
              },{
                field: 'status',
                title: 'Status',
                sortable: true,
                cellStyle: function(value){
                  if(value =='Unknown'){
                      return { classes: 'warning' };
                  }else if(value === 'Online'){
                    return { classes: 'success'};
                  }else
                    return { classes: 'danger'};               
                }
              },{
                field: 'lastchecked',
                title: 'Last Checked'
              },{
                field: 'callout',
                title: 'Callout',
                sortable: true
              },{
                field: 'view',
                title: 'View',
              }],
            data: hash,
        });

      </script>
      <%end%>
    </tbody>
    </table>
</div>